//-шаблон content
mixin content
  main.content
    .container.content__block
      .content__caption
        h1.content__caption-text Широкоформатная печать
        
      ul.content__list
      
        li.content__item
          ul.slide__list
            li.slide__item
              a.slide__link(href="#") Виды печати
            li.slide__item
              a.slide__link(href="#") Стоимость
            li.slide__item
              a.slide__link(href="#") Оплата и доставка
            li.slide__item
              a.slide__link(href="#") Вопрос-ответ
            li.slide__item
              a.slide__link(href="#") Заказать офлайн
              
        li.content__item.content__item-text Все виды широкоформатной печати
        
        li.content__item
          ul.kind__list
            li.kind__item
              a.kind__link(href="#") Растяжки
            li.kind__item
              a.kind__link(href="#") Световые короба
            li.kind__item
              a.kind__link(href="#") Вывески
            li.kind__item
              a.kind__link(href="#") Штендеры
              
        li.content__item
          .order
            .order__phone +7 (495) 241-96-37
            a.order__link(href="#") Оформить онлайн
            
