.header{
  height: 127px;
  padding-top: 28px;
}

.header__list{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__logo{
}

.header__text{
  font-family: 'SegoeUI' Arial sans-serif;
  font-size: 16px;
  color: $black;
    &--link{
      color: $blueDark;
    }
    &--bold{
      font-family: 'SegoeUIBlack' Arial sans-serif;
      font-weight: bold;
    }

}
