//-шаблон about
mixin about
  .about 
    .about__content.container
      ul.about__list
        li.about__item
          a.about__link о компании
        li.about__item
          a.about__link портфолио
        li.about__item
          a.about__link сотрудничество
        li.about__item
          a.about__link требования к макету
        li.about__item
          a.about__link контакты
      a.about_add добавить сайт в закладки
    
              
