//-шаблон about
mixin about
  .about 
    .about__content.container
      ul.about__list
        li.about__item
          a.about__link(href="#") о компании
        li.about__item
          a.about__link(href="#") портфолио
        li.about__item
          a.about__link(href="#") сотрудничество
        li.about__item
          a.about__link(href="#") требования к макету
        li.about__item
          a.about__link(href="#") контакты
      a.about_add(href="#") добавить сайт в закладки
    
              
