extends templates/template.pug
include block/header/header.pug
include block/about/about.pug

block content
  //внешний контайнер
  .wrapper
    section.hero
      +about
      +header
            
block scripts
  script(src='js/script.min.js')
        
