//-шаблон menu
mixin menu
  .menu
    .container
      ul.menu__list
        li.menu__item
          a.menu__link(href="#") Печатная продукция
        li.menu__item
          a.menu__link(href="#") Услуги
        li.menu__item
          a.menu__link(href="#") Наружная и интерьерная реклама
    
